/* font */
.open-sans{
  font-family: "Open Sans", sans-serif;
}

/* shared styles */
.dark-1{
    color: #181818;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}
.btn-primary{
    display: flex;
    align-items: center;
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    height: 65px;
    gap: 10px;
    padding: 19px 17px;
}

/* header style */
header{
    margin-bottom: 130px;
}

/* navbar styles */
.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 230px 49px 230px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.title-unique{
    color: #FD6E0A;
}
.nav-list{
    display: flex;
}
ul{
    display: flex;
    align-items: center;
}
ul > li{
    color: #474747;
    font-size: 20px;
    list-style: none;
    margin-left: 51px;
}
.nav-btn{
    padding: 19px 36px;
    margin-left: 51px;
}


/* hero styles */
.dev{
    position: absolute;
    top: 70px;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 230px;
}
.hero-text{
    width: 585px;
}
.hero-semi-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 0px;
}
.hero-title{
    font-weight: bold;
    font-size: 85px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.hero-description{
    font-size: 20px;
}
.hero-buttons{
    display: flex;
    gap: 30px;
}
.btn-icon{
    height: 20px;
}
.hero-btn{
    background-color: white;
    padding: 19px 23px;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 160px;
}
.hero-image{
    background-image: url(../images/header_bg.png);
    background-repeat: repeat-x;
    background-position: bottom left;
}


/* about styles */
.about-container{
    width: 827px;
    text-align: center;
    margin: 131px auto;
}
.about-title{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 30px;
}
.about-description{
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 30px;
}
.info-container{
    display: flex;
    justify-content: space-evenly;
}
.info{
    font-size: 20px;
    text-align: center;
}
.info-details{
    font-size: 20px;
    font-weight: bold;
}


/* what I do styles */
.experience{
    text-align: center;
    width: 827px;
    margin: auto;
}
.experience-title{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 30px;
}
.experience-description{
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 30px;
}
.cards{
    display: flex;
    gap: 24px;
    margin-top: 50px;
    margin-bottom: 130px;
    justify-content: center;
}
.card-container{
    background-color: white;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.27);
    width: 167px;
    padding: 30px 35px;
    border-radius: 5px;
}
.card{
    width: 180px;
    height: auto;
}
.card-title{
    font-weight: bold;
    font-size: 20px;
}


/* summary styles */
.summary-heading{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 113px;
    text-align: center;
}
.summary-container{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 50px;
}
.summary{
    width: 511px;
}
.summary-title{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
}
.summary-subtitle{
    margin-bottom: 10px;
    margin-top: 0px;
    font-weight: bold;
    font-size: 20px;
}
.summary-info{
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
}
hr{
    width: 578px;
    color: #D1D1D1;
    margin: 30px 0;
}
.summary-btn{
    margin: auto;
    margin-bottom: 133px;
}


/* footer styles */
.footer{
    display: flex;
    background-color: rgba(246, 230, 218, 1);
    padding: 130px;
    gap: 117px;
}
.footer-title{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 4px;
}
.footer-description{
    margin-bottom: 20px;
    width: 562px;
}
.icon{
    margin-right: 24px;
}
.forms{
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: white;
    border-radius: 5px;
    width: 461px;
    height: 64px;
}
.form{
    border: none;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.textarea{
    margin-top: 55px;
    margin-bottom: 24px;
    width: 440px;
    background-color: white;
    border-radius: 5px;
    height: 180px;
    border: none;
    padding-left: 20px;
    padding-top: 15px;
}
.footer-btn{
    padding: 19px 39px;
}